h2 {
  font-size: 50px;
  color: #2A8437;
}

.dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}

.MuiCard-root {
    margin-top: 25px;
  width: 30%;
  text-align: center;
}


